@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Trochut:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.titlebar{
    text-align: center;
    height: 60px;
    background-color: rgb(111, 111, 251);
}
.titlebar span{
    font-size: 2.5rem;
    background-color: rgb(111, 111, 251);
    font-weight: 600;
}

.container ul {
    display: flex;
    justify-content: center;
    margin-bottom: -67px;
}

.container ul li{
    list-style: none;
    margin: 39px;
}

.container ul li img{
    height: 180px;
    width: 180px;
    border: 2px solid black;
    border-radius: 50%;
}

.container ul li img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    margin-bottom: -39px;
}
.score {
    margin: 55px;
    padding: 19px;
}

.score p {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.msg-container
{
    text-align: center;
    border: 2px solid black;
    width: 240px;
    height: 35px;
    margin:auto;
    margin-bottom: 10px;
    background-color: rgb(111, 111, 251);
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}
.msg-container:hover
{
   cursor: pointer;
   transform: scale(1.1);
}

footer {
    width: 100%;
    height: 500px;
}

.last{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
}